body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: url(img/certificacion4.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.top-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.top-header a img {
    width: 150px;
    height: auto;
    border-radius: 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding-top: 30px;
    margin: 0;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.login-icon {
    margin-left: auto;
}

.login-icon a {
    text-decoration: none;
    color: green;
    font-size: 1.5em;
}













.main-content1 .product {

    display: column;
    width: 220px;
    margin: 40px;
    text-align: center;
    margin-left: auto;
}

.main-content1 .product1 {
    display: column;
    width: 220px;
    margin: 40px;
    text-align: center;
}

.main-content1 .product img {
    width: 100%;
    height: auto;
}

.main-content1 .product1 img {
    width: 100%;
    height: auto;
}

.main-content1 .product p {
    margin-top: 10px;
    font-size: 18px;
}

.main-content1 .product1 p {
    margin-top: 10px;
    font-size: 18px;
}
















footer {
    background-color: #f0f0f0;
    padding: 20px;
}

footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.social-media {
    margin-top: 20px;
}

.social-media {
    margin-top: 20px;
}

.social-media a :hover {
    color: blue;
}

.fa-brands {
    font-size: 24px;
}